
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.verticalformcontainer.ui.text.container {
  margin-top: 1.5em;
  max-width: 23em !important;
}

.verticalformtopmessage.ui.message {
  margin-bottom: 1.5em;
}

.verticalformbottommessage.ui.message {
  margin-top: 2em;
  text-align: left;
}

.verticalformbottommessage.ui.message .innerBlock {
  display: inline-block;
}

.verticalformcontrol {
  margin: 0.6em 0;
}

.verticalformbuttonrow {
  margin-top: 3em;
}

.ui.input input:invalid,
.verticalformcontainer .checkboxDivError,
.verticalformcontainer .ui.verticalformcontrol.emailError {
  border: 2px dashed red;
  background: #fee;
}
.showPasswordRow {
  text-align: right;
  font-size: 80%;
  margin-top: -.5em;
}

.signupVerificationEmailSent {
  text-align: left;
}
