
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Login.ui.text.container,
.Signup.ui.text.container {
  margin-top: 3em;
  max-width: 23em !important;
}

.Login .ui.bottom.attached.message .innerBlock,
.Signup .ui.bottom.attached.message .innerBlock {
  display: inline-block;
  text-align: left;
}
