
.LessonMultipleChoice {
  margin-bottom: 2.5em;
}

.LessonMultipleChoiceQuestions {
  margin-bottom: 1.5em;
  padding: 0 .5em;
  border-top: 1px solid rgba(34,36,38,.075);
}

.LessonMultipleChoiceQuestions > * {
  padding: .6em 0 0.2em;
}

.LessonMultipleChoiceQuestionText {
  display: flex;
}

.LessonMultipleChoiceQuestionText > * {
  flex-grow: 0;
}

.LessonMultipleChoiceQuestionChoices {
  padding-left: 1em;
}

.LessonMultipleChoiceQuestionText .LessonMultipleChoiceQuestion {
  flex-grow: 1;
  padding-left: 0.6em;
  padding-right: 1em;
}

.LessonMultipleChoiceChoice {
  padding: 0.3em 0;
}

.LessonMultipleChoiceChoice .checkbox {
  margin-top: 0.12em;
}

.LessonMultipleChoiceChoiceLabel {
  padding: 0 0.3em 0 0.75em;
}

.LessonMultipleChoiceScore {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.LessonMultipleChoiceScore .circle.check {
  color: green;
}

.LessonMultipleChoiceScore .circle.remove {
  color: red;
}

.LessonMultipleChoiceChoice {
  display: grid;
  grid-template-columns: auto auto 1fr;
}

.LessonMultipleChoiceButtonRow {
  text-align: center;
}

.LessonMultipleChoiceButtonRow .Congrats .header {
  color: green;
}
